@import "tailwindcss";
@plugin "daisyui";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #000000;
  color: var(--foreground);
  font-family: monospace, Helvetica, sans-serif;
  background-image: url('/ubuntu-bg.png');
  background-size: cover;
}

.glass {
  background-color: rgba(43, 41, 41, 0.7); /* Semi-transparent white */
  backdrop-filter: blur(10px);
}
.glass-dark {
  background-color: rgba(7, 7, 7, 0.9); /* Darker on hover */
}

/* full width and full hight and glass effect */
.full-glass {
  width: 100vw;
  height: 100vh;
  background-color: rgba(43, 41, 41, 0.7); /* Semi-transparent white */
  backdrop-filter: blur(10px);
}